.navbar>.navbar-header>.navbar-brand, .h1, .aboutus h2,
.special .today h2, 
.pricing .container .row .card-body h3 span,
.food .navbar-brand,
.funday .container .row div h5,
.navbar-dark .navbar-collapse > .navbar-nav > li > a,
.box i:hover
{
    color:#1e69b8
}

.background .carousel-caption> button,
.butblog, .pricing .container .row .card-body h2,
.pricing .container .row .card-body button,
.reservation button, .letter .new .container .row form button,
.footer
{
    background-color: #1e69b8;
}
.background .carousel-caption> button,
.price, .butblog, .pricing .container .row .card-body button,
.reservation button
{
    border-color: #1e69b8;
}
.background .carousel-caption> button,
.background  .carousel-caption> button:hover,
.starters, .dish, .desert, .drink, .butblog,
.butblog:hover, .pricing .container .row .card-body button,
.pricing .container .row .card-body button:hover,
.reservation button, .reservation button:hover
{
    border-bottom-color:#1e69b8;
}
.starters hr, .dish hr, .desert hr, .drink hr
{
    border-top-color: #1e69b8
}
.gal{
    background-color: rgba(30, 105, 184, .5);
}