body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* #8dc635 #fdcb03 #1e69b8 #e75b1e*/

/* start navbar */
body > .navbar{
    background-color: #222 !important;
    color: #080808
}

nav{
    height: 80px
}

/* brand */
.navbar>.navbar-header>.navbar-brand{
    width: 350px;
    height: 20px;
    color: #e75b1e;
    line-height: 5px;
    margin-left: 50px;
    position: relative;
    margin-top: 15px;
    left: 0px;
    top: -20;
  /*  opacity: .5 */
}

.sp1{
    font-size: 35px;
    color: #fff
}

hr{
    width: 175;
    position: relative;
    margin-top: 18px;
    margin-bottom: 6px;
    left: -80px;
    border-top-color: #eee
}

.sp2{
    letter-spacing: 13px
}



/* brand end */
/* links */
ul{
    padding-right: 50px;
    
}


.navbar-dark .navbar-collapse > .navbar-nav > li > a{
    color: #fff;
    position: relative;
    margin-top: 30px;
    padding-bottom: 7px;
    margin-left: 26px;
    top: 10px;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 18px;
    animation: border 10s ease-in-out;
}
/*
@keyframes border{
    form{
        border-bottom: 0px;
    }
    to{
        border-bottom: 3px;
    }
}
*/
.navbar-dark .navbar-collapse > .navbar-nav > li > a:hover{
   text-decoration: none;
   border-bottom: 3px solid;
   
}
.navbar-dark .navbar-collapse > .navbar-nav > li > a.active{
    color: #e75b1e;
}

/* links end */

/* button /

/* end button*/

/* end navbar */

/* carousel start */

.background{
    width: 100%;
    height: 650;
    background: url(../images/025.jpg) no-repeat fixed;
    background-size: cover
}

.background .carousel-caption{
    top: 120px
}

.background h1{
    font-size: 75px;
    color: #080;
    margin-bottom: 25px
}

.h1{
    color: #e75b1e;
    margin-top: 10px
}

.background .carousel-caption p{
    font-size: 19px;
    color: #eee;
    padding-top: 30px;
    padding-bottom: 30px
}


.background .carousel-caption> button{
    background-color: #e75b1e;
    color: #fff;
    padding: 12px;
    padding-right: 25px;
    padding-left: 25px;
    border: 3px solid #e75b1e;
    font-size: 20px;
    border-bottom: 5px solid #e75b1e
}

.background  .carousel-caption> button:hover{
    background-color: rgba(255, 255, 128, 0);
    border-bottom: 5px solid #e75b1e
}


.background .carousel-caption> .myanm{
    width: 65px;
    height: 120px;
    border: 1px solid #eee;
    position: relative;
    top: 45px;
    left: 410px;
    border-radius: 50px 50px;
    border: 2px solid #fff;
    cursor: pointer
}
/* start .dayra animation */
.background .carousel-caption> .myanm> .dayra{
    width: 20px;
    height: 20px;
    position: relative;
    left: 20px;
    top: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    animation: circling 1.5s infinite linear
}

@keyframes circling{
    from{
        top: 20px;
        opacity: 1
    }
    to{
        top: 40px;
        opacity: .2
    }
}
/* end .dayra animation */

/* carousel end */

/* start aboutus section */

.aboutus{
    background-color: #e6e6e6;
    width: 100%;
    height: 650px
}

.aboutus h2{
    font-size: 50px;
    color: #e75b1e;
    padding-top: 70px
}

.aboutus h3{
    font-size: 18px ;
    font-weight: 550;
    letter-spacing: .01px
    
}

.aboutus .lead{
    color: olive;
    font-size: 13.5px;
    line-height: 26px
}

.aboutus .foto .f1{
    width: 450px;
    height: 450px;
    position: relative;
    top: 95px;
    border: 10px solid #fff;
    left: -30px
}

.aboutus .foto .f2{
    width: 180px;
    height: 180px;
    position: relative;
    top: -355px;
    left: 280px;
    border: 10px solid #fff
}
            /* start Today's Special section */
.today{
    background: url(../images/023.jpg) no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 800px;
}

.rgb{
    background-color: rgba(2, 2, 2, .8);
    width: 100%;
    height: 100%
}


.special .today h2{
    color: #e75b1e;
    padding-top: 70px;
    font-size: 50px;
    padding-bottom: 30px;
    position: relative;
    left: 400px
}

.special .today p{
    color: #fff;
    width: 1000px;
    position: relative;
    left: 75px;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 0px 40px;
    font-weight: 600
}

.special .card{
    width: 340px;
    height: 450px;
    margin-top: 20px
}

.card .card-img{
    width: 100%;
    height: 100%;
    background-size: cover
} 

.coulor{
    background-color: rgba(2,2,2,1);
    width: 100%;
    height: 100%;
    background-image: url(../images/021.jpg)
}

.coulor1{
    background-color: rgba(2,2,2,1);
    width: 100%;
    height: 100%;
    background-image: url(../images/019.jpg)
}
.coulor2{
    background-color: rgba(2,2,2,1);
    width: 100%;
    height: 100%;
    background-image: url(../images/011.jpg)
}
.coulor3{
    background-color: rgba(2,2,2,1);
    width: 100%;
    height: 100%;
    background-image: url(../images/025.jpg)
}
.coulor4{
    background-color: rgba(2,2,2,1);
    width: 100%;
    height: 100%;
    background-image: url(../images/016.jpg)
}

            /* end Today's Special section */
/* end aboutus section */

/* start section our menu */

.menu{
    padding-top:70px;
    padding-bottom: 40px;
    height: 700px;
    margin-bottom: 70px
}

.menu .container .h1{
    padding-bottom: 25px
}


.menu .container .lead{
    font-size: 19px;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 15px
}

.grey{
    width: 100%;
    height: 80%;
    background: #f5f5f5;
    box-shadow: -16px -2px 2px #f5f5f5,
                16px 2px 2px #f5f5f5
}
.starters, .dish, .desert, .drink{
    height: 150px;
    border-bottom: #e75b1e solid 1px
}

.starters h4, .dish h4, .desert h4, .drink h4{
    padding-top: 15px
}

.starters hr, .dish hr, .desert hr, .drink hr
{
    position: relative;
    left: 0;
    top: -10px;
    border-top-color: #e75b1e
}

.starters hr{
    width: 124px
}

.dish hr{
    width: 152px
}
.desert hr{
    width: 112px
}
.drink hr{
    width: 89px
}


/* start media object */
.grey .med{
    margin-bottom: 20px
}

.obj1 , .obj2, .obj3{
    position: relative;
    top: -50px;
    left: 15px;
    margin-bottom: 15px
}
.obj1 img , .obj2 img, .obj3 img{
    border: #fff solid 7px
}
.menu .container p{
    font-size: 16px;
    margin-left: 25px;
    font-weight: 300;
    color: #6b6b6b
}
.menu .container h4{
    margin-left: 25px;
    color: #1f1f1f 
}

.price{
    width: 90px;
    height: 90px;
    border: #e75b1e solid 1px;
    border-radius: 50%;
    text-align: center;
    line-height: 90px;
    font-weight: 600;
    font-size: 18px
}
/* for active:menu container grey row div */
/* end media object */
/* end section our menu */

/* start section our team */
.ourteam{
    width: 100%;
    height: 800px;
    background: url(../images/IMG_20160123_224221.JPG) no-repeat fixed;
    background-size: cover
}
.opa{
    background-color: rgba(2, 2, 2, .5);
    width: 100%;
    height: 100%
}

.ot{
    padding-top: 75px;
    padding-bottom: 30px
}


.ourteam .uno{
    color: #e6e6e6;
    padding-right: 100px;
    padding-left: 100px;
    font-size: 18px
}
.ourteam .card{
    height: 520px
}
.ourteam .card-body{
    background-color: #fff;
    height: 50px
}
.ourteam .card-body p{
    font-size: 13px
}
.ourteam .card-img-top{
    cursor: pointer
}

/*
.ourteam .card:hover{
    
} */
/* start section our team */

/* start section gallery */


.gallery{
    padding-top: 70px;
    padding-bottom: 70px
}

.gallery .h1{
    padding-bottom: 15px
}

.gallery p{
     padding-bottom: 15px   
}
.gallery .one,.gallery .two,.gallery .three,
.gallery .four,.gallery .five,.gallery .six,
.gallery .seven,.gallery .eight,.gallery .neun,.gallery .ten{
    height: 350px;
    border: #fff solid 3px;
    background-size: cover;
}
.gallery .col-4, .gallery .col-8{
    padding-left: 0;
    padding-right: 0
}
.gallery .one{
    background-image: url(../images/005.jpg);
}
.gallery .two{
    background-image: url(../images/002.jpg);
}
.gallery .three{
    background-image: url(../images/004.jpg);
}
.gallery .four{
    background-image: url(../images/008.jpg);
}
.gallery .five{
    background-image: url(../images/009.jpg);
}
.gallery .six{
    background-image: url(../images/018.jpg);
}
.gallery .seven{
    background-image: url(../images/026.jpg);
}
.gallery .eight{
    background-image: url(../images/019.jpg);
}
.gallery .neun{
    background-image: url(../images/024.jpg);
}
.gallery .ten{
    background-image: url(../images/028.jpg);
}
.gal{
    background-color: rgba(231, 90, 29, .5);
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: all .25s linear .25s;
    
}
.gallery .one i, .gallery .two i, .gallery .three i,
.gallery .four i, .gallery .five i, .gallery .six i,
.gallery .seven i, .gallery .eight i, .gallery .neun i, .gallery .ten i{
    z-index: 5;
    position: relative;
    left: 46%;
    top: 160px;
    color: #fff;
    display: none;
}

/* end section gallery */

/* start section blog */

.blog{
    background-image: url(../images/FB_IMG_1493642173615.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 850px
}


.oppa{
    background-color: rgba(2, 2, 2, .5);
    width: 100%;
    height: 100%
} 

.ourblog .blog .h1{
    padding-top: 80px;
    padding-bottom: 20px
}



.ourblog .card{
    width: 550px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px
}


.ourblog .card .card-img{
    width: 50%;
    height: 100%;
    background-size: cover
} 

.ourblog .card .card-img-overlay{
    width: 50%;
    height: 100%;
    float: right
} 
.butblog{
    margin: auto;
    background-color: #e75b1e;
    color: #fff;
    padding: 12px;
    padding-right: 25px;
    padding-left: 25px;
    border: 3px solid #e75b1e;
    font-size: 20px;
    border-bottom: 5px solid #e75b1e;
    text-transform: uppercase;
}
.butblog:hover{
    background-color: rgba(255, 255, 128, 0);
    border-bottom: 5px solid #e75b1e;
    transition: all .5s ease-in-out;
}

/* end section blog */


/* start section pricing*/
.pricing{
    /*padding-bottom: 70px;*/
    padding-top: 65px
}

.pricing p{
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 15px;
    color: #5f5f5f
}
.pricing .card-body{
    padding: 0px
}

.card ul{
    padding-right: 0px;
    
}
.pricing .container .row .card-body h2{
    width: 100%;
    height: 100px;
    background-color: #e75b1e;
    color: #fff;
    margin:auto;
    line-height: 120px
}

.pricing .container .row .card-body h3{
    width: 100%;
    height: 100px;
    background-color: #e6e6e6;
    color: #000;
    margin:auto;
    line-height: 100px;
    font-weight: 700
}
.pricing .container .row .card-body h3 span{
    color: #e75b1e
}
.pricing .container .row .card-body button{
    background-color: #e75b1e;
    color: #fff;
    padding: 12px;
    padding-right: 75px;
    padding-left: 75px;
    border: 3px solid #e75b1e;
    font-size: 20px;
    border-bottom: 5px solid #e75b1e
}

.pricing .container .row .card-body button:hover{
    background-color: rgba(255, 255, 128, 0);
    border-bottom: 5px solid #e75b1e;
    color: #000;
    transition: all .5s ease-in .25s
}

.pricing .container .row .gr{
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgb(249, 239, 239)
}

.pricing .card:hover{
    transform: translateY(-15px);
    transition: all .5s ease-in-out 
}
/* end section pricing*/
/* start section form */
.reservation{
    margin-bottom: 40px;
}
.reserv{
    padding-top: 70px;
}
form .row{
    margin-bottom: 10px;
}
form .row input,
form .row select{
    height: 50px;
    border: #5f5f5f dotted 1px;
    background-color: #e6e6e6;
}
.reservation button{
    background-color: #e75b1e;
    color: #fff;
    padding: 12px;
    padding-right: 25px;
    padding-left: 25px;
    border: 3px solid #e75b1e;
    font-size: 20px;
    border-bottom: 5px solid #e75b1e;
    margin-top: 15px;
    font-weight: 600
}
.reservation button:hover{
    background-color: rgba(255, 255, 128, 0);
    border-bottom: 5px solid #e75b1e;
    color: #000;
    transition: all .5s ease-in .25s
}
/* end section form */
/* start section newletters */

.newletters{
    width: 100% ;
    height: 350px;
    background: url(../images/50.jpg) no-repeat fixed;
    background-size: cover
}

.newletters .new{
    background-color: rgba(2, 2, 2, .5);
    width: 100%;
    height: 100%;
    margin: auto;
}
.letter .new h2{
    padding-bottom: 10px;
    padding-top: 15px
}
.letter .new p{
    color: #fff;
    padding-bottom: 10px
}
.letter .new .container .row form input{
    width: 550px;
}
.letter .new .container .row form button{
    width: 50px;
    background-color: #e75b1e;
}
.letter .new .container .row form button:hover{
    background-color: #fff;
}
/* start section newletters */
/* start section food funday */
.fun{
    background: url(../6.jpg) no-repeat fixed;
    width: 100% ;
    height: 400px;
    background-size: cover;
}
.funday{
    background-color: rgba(2, 2, 2, .8);
    width: 100%;
    height: 100%;
    padding-top:70px ;
}
.food .navbar-brand{
    color: #e75b1e;
}
.funday .container .row div{
    color: #e6e6e6;
    margin-top: 20px;
}
.funday .container .row div h5{
    color: #e75b1e;
    margin-bottom: 15px;
}
.funday .container .row div p{
    font-size: 14px;
    line-height: 23px;
}
.funday .container .row .nm p{
   line-height: 15px;
}
/* end section food funday */
/* start section footer */
.footer{
    height: 60px;
    background-color: #e75b1e;
    color: #fff;
    border-top: #fff dotted 2px;

}
.footer div{
    line-height: 50px;
}
/* end section footer */

/* start change color */


.atom{
    position: fixed;
    top: 100px;
    right: 0px;
}
.box
{
    position: relative;
    top: 72px;
    width: 40px;
    height: 40px;
    background-color: #787878;
    cursor: pointer;
    border-radius: 3px;
    right: 40px;
    padding-left: 4px;
    transition: all 1.5s ease-in-out;
}
.sj{
    right: -160px
}
.box i{
    position: relative;
    top: 4px;
    color: #eee;
}
.box i:hover{
    color: #e75b1e;
    transition: all .2s ease-in-out;
}
.color
{
    position: relative;
    background-color: #3c3c3c;
    width: 200px;
    height: 100px;
    color: #fff;
    float: right;
    right: 0;
    padding-left: 25px;
    padding-top: 12px;
    transition: all 1.5s ease-in-out;

}
.js{
    right: -200px
}
.atom .color ul li{
    width: 25px;
    height: 40px;
    background-color: #f00;
    display: inline-block;
    cursor: pointer
}


/* end change color */

/* start scroll button */
.scrollbutton{
    background-color: #b3b3b3;
    width: 35px;
    height: 35px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .25s linear .25s;

}
.scrollbutton:hover{
    background-color: #3c3c3c;
}

.scrollbutton i{
    color: #fff;
    position: absolute;
    left: 10px;
    top: 8px;
    font-weight: 600;
}

/*
650
2100
2870
3670
5356
6206
6997
7936
*/


/* start scroll button */